.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.blank{
  background-color: #61dafb;
  color: red;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
}

nav{
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
  
}

nav::before{
  content: "";
  width: 100vw;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.6;
}



.navspace{
  width: 5vw;
}

nav li{
  list-style: none;
  margin-right: 50px;
  /* border: 2px solid black; */
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

nav li:hover{
  color: black;
  background-color: aquamarine;
}